@import url("https://fonts.googleapis.com/css?family=Rubik:700|Merriweather:400,400i,700&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  --c-text: #fcf7f8;
  --c-background: #2c2c2c;
  --c-primary: #72a954;
  --c-accent: #e788b8;
  --c-player: #d4257d;
  --c-disc: #9792a9;
  --c-field: #9792a9;
  background-color: var(--c-background);
  color: var(--c-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Merriweather", serif;
}

main,
header {
  margin: 0 auto;
  line-height: 1.7rem;
}

header {
  min-height: 97vh;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
  color: var(--c-primary);
  line-height: 4rem;
}

h2::after {
  content: "";
  display: block;
  width: 85%;
  max-width: 4em;
  padding-top: 0.25em;
  border-bottom: 0.1em solid var(--c-accent);
}

ol {
  list-style-position: outside;
}

ol li {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
}

a:focus {
  outline: 0.15rem solid var(--c-disc);
}

.arrow {
  position: relative;
  padding-left: 0.5rem;
}

.contacts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.contacts ul li {
  float: left;
  padding: 0.75em;
}

a {
  text-decoration: underline;
  color: var(--c-accent);
}

a:hover {
  color: var(--c-primary);
  text-decoration: none;
}

.contacts li a::after {
  content: "";
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 0.25em;
  border-bottom: 0.1em solid var(--c-disc);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  padding-bottom: 1em;
}

.play {
  height: 45rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.field {
  height: 25rem;
  width: 90vw;
  top: 11.5rem;
  position: relative;
  border: 0.5rem solid var(--c-field);
}

.field::after {
  content: "";
  display: inline-block;
  height: 7.5rem;
  width: 90vw;
  border: 0.5rem solid var(--c-field);
  position: relative;
  top: 1rem;
  left: -0.5rem;
}

.field::before {
  content: "";
  display: inline-block;
  height: 7.5rem;
  width: 90vw;
  border: 0.5rem solid var(--c-field);
  position: relative;
  top: -9rem;
  left: -0.5rem;
}

.player {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: var(--c-player);
  position: relative;
  left: 50%;
  top: -7.5rem;
}

.animations-disabled {
  display: none;
}

#play-1.animated
  > .player:not(.player-5):not(.player-1):not(.handler-1):not(.handler-2) {
  animation: first-rest-players 6s linear 0.5s infinite;
}

#play-1 > .disc {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background-color: var(--c-disc);
  position: relative;
  left: 35%;
  top: 0rem;
}

#play-1.animated > .disc {
  animation: disc-move-first 6s linear 0.5s infinite;
}

#play-1 > .handler-1 {
  top: 14rem;
  left: 30%;
}

#play-1.animated > .handler-1 {
  animation: first-handler-1 6s linear 0.5s infinite;
}

#play-1 > .handler-2 {
  top: 8rem;
  left: 50%;
}

#play-1.animated > .handler-2 {
  animation: first-handler-2 6s linear 0.5s infinite;
}

#play-1.animated > .player-1 {
  animation: first-move-player-1 6s linear 0.5s infinite;
}

#play-1.animated > .player-5 {
  animation: first-move-player-5 6s linear 0.5s infinite;
}

.wrapper:not(:first-child) {
  margin-top: 5rem;
}

@keyframes disc-move-first {
  0% {
    left: 30%;
    top: 0rem;
  }
  25% {
    left: 50%;
    top: -3.5rem;
  }
  30% {
    left: 50%;
    top: -3.5rem;
  }

  50% {
    left: 77.5%;
    top: -6rem;
  }
  55% {
    left: 77.5%;
    top: -6rem;
  }
  90% {
    left: 50%;
    top: -30rem;
  }
  100% {
    left: 50%;
    top: -30rem;
  }
}

@keyframes first-move-player-1 {
  0% {
    left: 50%;
    top: -7.5rem;
  }
  20% {
    left: 30%;
    top: -6rem;
  }

  50% {
    left: 35%;
    top: -17rem;
  }
  90% {
    left: 47%;
    top: -27rem;
  }
  100% {
    left: 47%;
    top: -27rem;
  }
}

@keyframes first-move-player-5 {
  0% {
    left: 50%;
    top: -7.5rem;
  }
  20% {
    left: 65%;
    top: -9rem;
  }
  50% {
    left: 75%;
    top: 4rem;
  }
  100% {
    left: 75%;
    top: 4rem;
  }
}

@keyframes first-handler-2 {
  0% {
    top: 8rem;
    left: 50%;
  }
  50% {
    top: 8rem;
    left: 50%;
  }
  90% {
    top: 0rem;
  }
  100% {
    top: 0rem;
  }
}

@keyframes first-handler-1 {
  50% {
    top: 14rem;
    left: 30%;
  }
  90% {
    top: 7rem;
    left: 45%;
  }
  100% {
    top: 7rem;
    left: 45%;
  }
}

@keyframes first-rest-players {
  50% {
    left: 50%;
    top: -7.5rem;
  }
  90% {
    top: -10rem;
  }

  100% {
    top: -10rem;
  }
}

#play-2 > .disc {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background-color: #9792a9;
  position: relative;
  left: 52.5%;
  top: -4.5rem;
}

#play-2.animated > .disc {
  animation: second-disc 6s linear 0.5s infinite;
}

#play-2 > .handler-1 {
  top: 13rem;
  left: 70%;
}

#play-2 > .handler-2 {
  top: 8rem;
  left: 50%;
}

#play-2.animated > .player-5 {
  animation: second-player-5 6s linear 0.5s infinite;
}

#play-2.animated > .player-4 {
  animation: second-player-4 6s linear 0.5s infinite;
}

#play-2.animated > .player-3 {
  animation: second-player-3 6s linear 0.5s infinite;
}

@keyframes second-player-5 {
  0% {
    left: 50%;
    top: -7.5rem;
  }

  25% {
    top: -10rem;
    left: 52%;
  }

  75% {
    left: 80%;
    top: -4rem;
  }

  100% {
    left: 80%;
    top: -4rem;
  }
}

@keyframes second-player-4 {
  0% {
    left: 50%;
    top: -7.5rem;
  }

  25% {
    top: -10rem;
    left: 30%;
  }

  75% {
    left: 20%;
    top: -5rem;
  }

  100% {
    top: -5rem;
    left: 20%;
  }
}

@keyframes second-player-3 {
  30% {
    left: 50%;
    top: -7.5rem;
  }

  90% {
    top: -23rem;
    left: 50%;
  }

  100% {
    top: -23rem;
    left: 50%;
  }
}

@keyframes second-disc {
  30% {
    left: 52.5%;
    top: -4.5rem;
  }

  45% {
    left: 57.5%;
  }

  57.5% {
    left: 60%;
  }

  62.5% {
    left: 60%;
  }

  75% {
    left: 57.5%;
  }

  90% {
    top: -29rem;
    left: 52.5%;
  }

  100% {
    top: -29rem;
  }
}

#play-3 > .disc {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  background-color: #9792a9;
  position: relative;
  left: 86%;
  top: -20rem;
}

#play-3.animated > .disc {
  animation: third-disc 6s linear 0.5s infinite;
}

#play-3 > .handler-1 {
  top: -5rem;
  left: 85%;
}

#play-3 > .handler-2 {
  top: -2.5rem;
  left: 50%;
}

#play-3.animated > .handler-2 {
  animation: third-handler-2 6s linear 0.5s infinite;
}

#play-3 > .handler-3 {
  top: -10rem;
  left: 20%;
}

#play-3 > .player-1 {
  top: -23rem;
}

#play-3.animated > .player-1 {
  animation: third-player-1 6s linear 0.5s infinite;
}

#play-3
  > .player:not(.handler-1):not(.handler-2):not(.handler-3):not(.player-1) {
  top: -23rem;
}

#play-3.animated
  > .player:not(.handler-1):not(.handler-2):not(.handler-3):not(.player-1) {
  animation: third-other-players 6s linear 0.5s infinite;
}

@keyframes third-handler-2 {
  0% {
    top: -2.5rem;
    left: 50%;
  }

  40% {
    top: -13rem;
    left: 75%;
  }

  70% {
    left: 50%;
    top: -19rem;
  }

  100% {
    left: 50%;
    top: -19rem;
  }
}

@keyframes third-player-1 {
  37% {
    top: -23rem;
  }

  60% {
    top: -16rem;
    left: 50%;
  }

  90% {
    left: 80%;
    top: -28rem;
  }
  100% {
    left: 80%;
    top: -28rem;
  }
}

@keyframes third-other-players {
  40% {
    top: -23rem;
  }

  70% {
    top: -21rem;
  }

  100% {
    top: -21rem;
  }
}

@keyframes third-disc {
  70% {
    left: 86%;
    top: -20rem;
  }

  90% {
    left: 86%;
    top: -30rem;
  }

  100% {
    left: 86%;
    top: -30rem;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-player {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  border-radius: 100%;
  background-color: #d4257d;
}

.info-disc {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: #9792a9;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 767px) {
  .field,
  .field::after,
  .field::before {
    width: 30rem;
  }
  .field {
    height: 30rem;
  }
  .field::after,
  .field::before {
    height: 10rem;
  }
  .field::after {
    top: 3rem;
  }
  .field::before {
    top: -11rem;
  }
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    height: 50rem;
  }
  main,
  header {
    width: 32rem;
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  html {
    scroll-behavior: auto;
  }
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }

  .animations-disabled {
    display: block;
  }

  .info {
    padding-top: 2rem;
  }
}
